{
  "NetGsm": {
    "UserCode": "YOUR_NETGSM_USERNAME",
    "Password": "YOUR_NETGSM_PASSWORD",
    "MsgHeader": "YOUR_SMS_HEADER",
    "AppName": "YOUR_APP_NAME"
  },
  "Jwt": {
    "Key": "GENERATE_STRONG_SECRET_KEY_AT_LEAST_32_CHARS"
  },
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost,1435;Database=ECommerceDb;User Id=sa;Password=YOUR_DB_PASSWORD;TrustServerCertificate=True;"
  }
}
